<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
</head>
<body>
<!--this page is only for adding modes for games. users don't see this on website. -->
{{#games}}
<p>{{name}}, {{platform}}</p>

<h3>modes:</h3>
<ul>
    {{#modes}}
    <li>{{mode}}</li>
    {{/modes}}
</ul>
<form action="/create-mode" method="post">
    <input type="hidden" name="id" value="{{id}}">
    <input type="text" placeholder="mode" name="mode">
    <button type="submit">submit</button>
</form>

{{/games}}
<a href="/">home</a>


</body>
</html>